/*  your css code here. If applicable */

#yellow{
	background:yellow;
	border:green  solid 1px;
}
#red{
	background:red;
	border: black solid 1px;
}
#green{
	background:green;
	border:yellow solid 1px;
}